import { createSchema, createYoga,  } from "graphql-yoga";
import { PrismaClient } from "@prisma/client";

const prisma = new PrismaClient();

const schema = createSchema({
  typeDefs: `
    scalar DateTime

    type Query {
      // Define your queries here
    }

    type Mutation {
      // Define your mutations here
    }

    // Define your types and inputs here
  `,
  resolvers: {
    Query: {
      // Implement your queries here
    },
    Mutation: {
      // Implement your mutations here
    },
  },
});

const Yoga = createYoga({
  schema,
});

export default Yoga;
